.step-name {
    font-size: 2em;
}

.progress-bar {
    background-color: #D52369;
}

.formboxes {
    margin: 5px;
    display: flex;
}

.formboxes .input-group-text{
    border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.service-one {
    background-color: #7395AE;
}

.service-two {
    background-color: #EDF5E1;
}

.service-three {
    background-color: #379683;
}

.service-four {
    background-color: #C2B9B0;
}

.formboxes label {
    margin: 0em;
}

.action-photo-dropzone-container {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.action-photo-dropzone-inner p {
    font-size: 0.75em;
}

.action-photo-dropzone-inner {
    height: 15%;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px dashed #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    text-align: center;
    padding: 10%;
}

.action-photo-preview-container {
    display: flex;
    overflow: auto;
}

.action-photo-preview {
    display: block;
    max-width:300x;
    max-height:120px;
    width: auto;
    height: auto;
    margin: 1em;
}